.search__container {
  position: relative;
  margin-top: 120px;
  min-height: 300px;
  max-width: 608px;
}

@media screen and (max-width: 550px) {
  .search__container {
    margin: 40px auto 0;
    width: calc(100% - 32px);
  }
}