.footer__link {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
  transition: color .3s ease-out;
}

.footer__link:hover {
  color: #2F71E5;
}

@media screen and (max-width: 500px) {
  .footer__link {
    line-height: 48px;
  }
}