.results__grid-card {
  position: relative;
  box-sizing: border-box;
  min-height: 576px;
  background-color: white;
  border-radius: 16px;
  padding: 24px;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.results__grid-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@media screen and (max-width: 1300px) {
  .results__grid-card {
    min-height: 494px;
  }
}

@media screen and (max-width: 900px) {
  .results__grid-card {
    min-height: 420px;
  }
}

@media screen and (max-width: 550px) {
  .results__grid-card {
    min-height: 450px;
  }
}