@import url("./_centered/popup__error_centered.css");

.popup__error {
  display: block;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400px;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  margin-top: 3px;
  min-height: 15px;
}