@import url("./__container/search__container.css");
@import url("./__form-input/search__form-input.css");

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -2;
  background-image: url("../../images/search-section-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 576px;
}

@media screen and (max-width: 900px) {
  .search {
    min-height: 400px;
  }
}

@media screen and (max-width: 550px) {
  .search {
    min-height: 536px;
  }
}