@import url("./_theme_articles/results__grid_theme_articles.css");

.results__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin: 64px 0;
}

@media screen and (max-width: 900px) {
  .results__grid {
    margin: 32px 0;
    gap: 8px;
  }
}

@media screen and (max-width: 767px) {
  .results__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 550px) {
  .results__grid {
    grid-template-columns: 1fr;
    gap: 16px;
    margin: 24px 0 16px;
  }
}