@import url("./_shown/results__not-found_shown.css");
@import url("./_hidden/results__not-found_hidden.css");

.results__not-found {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}