@import url("./_shown/results__search-is-in-progress_shown.css");
@import url("./_hidden/results__search-is-in-progress_hidden.css");

.results__search-is-in-progress {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}