@import url("./_theme_articles-page/header__nav-list_theme_articles-page.css");
@import url("./_theme_main-page/header__nav-list_theme_main-page.css");
@import url("./_size_one/header__nav-list_size_one.css");
@import url("./_size_two/header__nav-list_size_two.css");

.header__nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 550px) {
  .header__nav-list {
    left: 0;
    z-index: 1;
    width: 100%;
    opacity: 0;
    border-radius: 16px;
    transition: all .3s ease;
    position: absolute;
    flex-direction: column;
    justify-content: flex-end;
  }
}
